.reservation__scheme-wrapper_c {
    grid-area: c;
    position: relative;
    margin-right: 37px;

    padding: var(--padding-round) 0 var(--padding-round) var(--padding-round);
}

.reservation__scheme_c {
    width: 62px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--active-btn);
}

.reservation__scheme_c-round-1 {
    left: calc(calc(var(--padding-round) / 2) + (100% / 2));
    transform: translateX(-50%);
    bottom: 0;
}

.reservation__scheme_c-round-2 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reservation__scheme_c-round-3 {
    left: calc(calc(var(--padding-round) / 2) + (100% / 2));
    transform: translateX(-50%);
    top: 0;
}
