.reservation__scheme_d {
    grid-area: d;
    background: var(--main-color);
    width: 141px;
    height: 141px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    position: relative;
}

.reservation__scheme_d span {
    color: white;
}
