.reservation__scheme-wrapper_o {
    --center: calc(50% - var(--padding-round) / 2);

    grid-area: o;
    position: relative;
    padding: 0 var(--padding-round) var(--padding-round) var(--padding-round);
    right: -10px;
    width: min-content;
    margin-left: auto;
}

.reservation__scheme_o {
    width: 41px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
}

.reservation__scheme_o-round-1 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.reservation__scheme_o-round-2 {
    right: 0;
    top: var(--center);
    transform: translateY(-50%);
}

.reservation__scheme_o-round-3 {
    right: 0;
    top: calc(var(--center) + 9px);
    transform: translateY(50%);
}

.reservation__scheme_o-round-4 {
    right: 0;
    top: calc(var(--center) - 9px);
    transform: translateY(-150%);
}

.reservation__scheme_o-round-5 {
    left: 0;
    top: var(--center);
    transform: translateY(-50%);
}

.reservation__scheme_o-round-6 {
    left: 0;
    top: calc(var(--center) + 9px);
    transform: translateY(50%);
}

.reservation__scheme_o-round-7 {
    left: 0;
    top: calc(var(--center) - 9px);
    transform: translateY(-150%);
}
